<div class="control-panel">
    <div class="buttons">
        <div class="button-component">
            <button mat-raised-button color="primary" (click)="resizeBiggerFont()"><mat-icon>zoom_in</mat-icon> Agrandir</button>
        </div>
        <div class="button-component">
            <button mat-raised-button color="primary" (click)="resizeSmallerFont()"><mat-icon>zoom_out</mat-icon> Réduire</button>
        </div>
        <app-pass-button class="button-component"></app-pass-button>
        <app-surrender-button class="button-component"></app-surrender-button>
        <app-play-button class="button-component"></app-play-button>
        <app-exchange-button class="button-component"></app-exchange-button>
        <app-cancel-button class="button-component"></app-cancel-button>
    </div>
</div>
