<mat-card>
    <div class="logo">
        <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
        <h1>Scrabble classique</h1>
    </div>
    <div class="center">
        <button mat-raised-button color="primary" class="button" routerLink="solo"><mat-icon>person</mat-icon> Jouer une partie en solo</button>
        <button mat-raised-button color="primary" class="button" routerLink="multiplayer">
            <mat-icon>people_alt</mat-icon> Jouer une partie en multijoueur
        </button>
    </div>
    <button mat-raised-button color="primary" class="button" routerLink="/home"><mat-icon>arrow_back</mat-icon> Retour</button>
</mat-card>
