.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section {
        width: 90%;
        margin-bottom: 2rem;
        h3 {
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

mat-panel-title span.objective-title {
    margin-left: 5px;
    font-weight: 0.5rem !important;
}

.objectives,
mat-expansion-panel {
    width: 100%;
    background-color: #047404;
    color: white !important;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    color: white;
}
